/**{
	box-sizing: border-box;
}*/
#informacoes-eventos{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

.nav-link{
	color: #fed330;
}

.center{
	text-align: center;
}

.profile{
	width:200px;
	height:200px;
	border-radius: 50%;
	border-style: solid;
	border-color: #0B6887;
}

.home{
	background-image: url('../imagens/back.jpg');
	background-repeat: no-repeat;
    background-size: cover;
}

.nome-dev{
	font-family: 'Poiret One', cursive;
	font-weight: bold;
	color: #F7F7F7;
	font-size: 50pt;
}

.lead, .descricao-dev{
	font-family: 'Bungee Hairline', cursive;
	color:#0B6887;
	font-size: 16pt;
	font-weight: bold;
}

.nav-link{
	font-family: 'Bungee Hairline', cursive;

	color:#0B6887;
	font-weight: bold;
}

.center, .sobre{
	font-family: 'Poiret One', cursive;
	color:#0B6887;
}

.informacoes{
	font-family: 'Montserrat', sans-serif;
}

.footer{
	border-top: 1px solid #0B6887;
	font-family: 'Poiret One', cursive;
	font-weight: bold;
	padding-top: 6px;
}

.navbar-brand{
	font-family: 'Poiret One', cursive;
	color:#0B6887;
	font-weight: bold;
}

.fotos-eventos{

	max-width:300px;
    max-height:300px;
    width: auto;
    height: auto;
    background-size: cover;
    border-style: solid;
    border-color: #0B6887;
	margin-bottom: 10px;
	border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.fa{
    padding: 7px;
    font-size: 30px;
    width: 34px;
    text-align: center;
    text-decoration: none;
    margin: 8px -114px;
}

.fa-linkedin {
  color: white;
  border-radius: 4px;
}

.btn, .btn-info{
	font-family: 'Poiret One', cursive;
}

.dev, .text-primary{
	font-weight: bold;
	font-style: italic;
}

.center-eventos{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

.btn, .btn-info{
    box-shadow: 5px 6px 8px rgba(0,0,0,0.1);
    margin-right: 8px;
    /*para as animações*/
    animation-name: flash;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
/*para a animação do botão*/
@keyframes flash {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}

.social-link{
	color: #206989;
}

.social-link:hover{
	background-color: :#1F6888;
	transition: 1s;
}

.col-lg-8, .col-md-10, .mx-auto{
	left: 108px;
}

body{
	overflow-x: hidden;
}

/*figure{
	position: relative;
}*/

/*figcaption{
	bottom: 5px;
	margin: 0 5px;
	padding: 5px;
	position: absolute;
	width: 300px;
	background-color: #000;
	background-color: rgba(0,0,0,0.5);
	color: #FFF;
}*/

